@import "tailwindcss";

:root {
  --color-bgmain: #171717;
  --color-bgsecondary: #0d0d0d;
  --color-primary: #428038;
  --color-borderColor: #212121;
}

@theme inline {
  --color-bgmain: var(--color-bgmain);
  --color-bgsecondary: var(--color-bgsecondary);
  --color-primary: var(--color-primary);
  --color-borderColor: var(--color-borderColor);

  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

/* Custom Thin Scrollbar */
.custom-scrollbar::-webkit-scrollbar {
  width: 5px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #334155; /* Slate-700 */
  border-radius: 20px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #10b981; /* Emerald-500 */
}

/* Ensure the layout doesn't jump */
aside {
  scrollbar-gutter: stable;
}

@layer base {
  button:not(:disabled),
  [role="button"]:not(:disabled) {
    cursor: pointer;
  }
}
